<!<!DOCTYPE html>
<<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="wiewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mybrary</title>
  </head>
  <body>
    before
    <br>
    <%- body %>
    <br>
    After
  </body>
</html>
